# =====================
# Secrets & Credentials
# =====================
.env
*.pem
*.key
*.crt
secrets.yaml
*-secret.yaml

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.log

# =====================
# OS / Editor
# =====================
.DS_Store
.idea/
.vscode/

# =====================
# Docker
# =====================
docker-compose.override.yml
*.pid

# =====================
# Terraform
# =====================
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# =====================
# Build Artifacts
# =====================
build/
dist/
target/


# Terraform
.terraform/
*.tfstate
*.tfstate.backup
