apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: devops-prod-hpa
  namespace: devops-prod
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: devops-prod-app
  minReplicas: 2
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50

